{{#partial "content"}}

    <div class="card" style="min-width: 550px; margin-bottom: 20px;">
        <div class="card-body">
            <p class="card-text">Choose the type of animal you wish to record</p>
            <div class="form-check form-group col-md-6">
                <input class="form-check-input" type="checkbox" id="commonCheck">
                <label class="form-check-label" for="gridCheck">
                    Common Species
                </label>
            </div>
            <div class="form-check form-group col-md-6">
                <input class="form-check-input" type="checkbox" id="endangeredCheck">
                <label class="form-check-label" for="gridCheck">
                    Endangered Species
                </label>
            </div>
        </div>
    </div>

    <div class="card" id="endangered-form" style="max-width: 550px; margin-bottom: 20px">

        <div class="card-body">
            <form method="post" action="/sightings/endangered/new">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name of Animal</label>
                        <input type="text" name="name" id="name" class="form-control" id="name" placeholder="eg. Lion">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="health">Health</label>
                        <select class="form-control" name="health" id="health">
                            <option selected>Choose...</option>
                            <option value="healthy">Healthy</option>
                            <option value="ill">Ill</option>
                            <option value="okay">Okay</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="age">Age</label>
                        <select class="form-control" name="age" id="age">
                            <option selected>Choose...</option>
                            <option value="newborn">Newborn</option>
                            <option value="young">Young</option>
                            <option value="adult">Adult</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Location</label>
                    <input type="text" name="location" class="form-control" id="location" placeholder="Zone A, Near">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Ranger Name</label>
                    <input type="text" name="rangerName" class="form-control" id="rangerName" placeholder="David Ndungu">
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>

    <div class="card" id="common-form" style="max-width: 550px; margin-bottom: 20px">

        <div class="card-body">
            <form method="post" action="/sightings/common/new">
                <div class="form-group">
                    <label for="name">Name of Animal</label>
                    <input type="text" name="name" id="name" class="form-control" id="name" placeholder="eg. Lion">
                </div>

                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" name="location" class="form-control" id="location" placeholder="Zone A, Near the river">
                </div>
                <div class="form-group">
                    <label for="rangerName">Ranger Name</label>
                    <input type="text" name="rangerName" class="form-control" id="rangerName" placeholder="David Ndungu">
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}